{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm">
      <div class="card-body text-center">

            <h2>Delete Blog</h2>

            <p>Are you sure you want to delete:</p>
            <h4>"{{ object.title }}"</h4>

            <form method="post">
                  {% csrf_token %}
                  <button class="btn btn-danger">Confirm Delete</button>
                  <a href="{% url 'blog_detail' object.pk %}" class="btn btn-secondary">
                        Cancel
                  </a>
            </form>

      </div>
</div>

{% endblock %}